.section {
  margin-bottom: 1em;
  display: none;
}

input {
  float: right;
}

.properties, .critical, .noncritical {
  margin-bottom: 2em;
}

.section {
  font-size: 1.1em;
  line-height: 1.1em;
}

button {
  position: absolute;
}

.result {
  margin-bottom: 1em;
  font-size: 1.2em;
  line-height: 1.2em;
  cursor: pointer;
}

#header {
  height: 60px;
  vertical-align: top;
}

#header div {
  display: inline-block;
  height: 100%;
  width: 16%;
  text-align: center;
}

#leadership, #organizational {
  display: none
}

#employee {
  display: block;
}

#results-pane {
  float: right;
  position: absolute;
  top: 80px;
  right: -160px;
}

#header div {
  cursor: pointer;
}

.btn-secondary {
  cursor: default !important;
}

.btn-secondary:hover {
  background-color: #6c757d !important;
}

#results-pane ul {
  list-style: none;
  padding: 0;
}

#results-pane .title {
  font-weight: bold
}

#results-pane li {
  margin-bottom: 1em;
}