@font-face {
  font-family: 'open-sans';
  src: url('OpenSans-Regular.ttf');
}

body {
  font-family: "open-sans", sans-serif !important;
  color: #333 !important;
  line-height: 1.3em !important;
  font-size: 11pt !important;
}

.section {
  margin-bottom: 1em;
  display: none;
}

input {
  float: right;
}

.selected {
  font-weight: bold;
}

h3 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.properties, .critical, .noncritical {
  margin-bottom: 2em;
}

.section {
  line-height: 1.5em;
}

button {
  float: right;
  margin-bottom: 1em !important;
}

.result {
  margin-bottom: 1em;
  cursor: pointer;
}

.details {
  margin-top: 1em;
}

#header {
  height: 60px;
  vertical-align: top;
}

#header div {
  display: inline-block;
  height: 100%;
  width: 16%;
  text-align: center;
}

#leadership, #organizational {
  display: none
}

#employee {
  display: block;
}

.does-this-statement {
  float: right;
  font-weight: bold;
  margin-bottom: 1em;
}

#results-pane {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 340px;
  height: 100%;
  bottom: 0;
}

#header div {
  cursor: pointer;
}

.btn-primary {
  background-color: #0E8D45 !important;
  border: none !important;
}

strong {
  color: #003361;
}

.btn-secondary {
  cursor: default !important;
}

.btn-secondary:hover {
  background-color: #6c757d !important;
}

#results-pane ul {
  list-style: none;
  padding: 0;
}

#results-pane .title {
  font-weight: bold
}

#results-pane li {
  margin-bottom: 1em;
}

#results ul {
  list-style: none;
}

.labels {
  margin-bottom: 1em;
}

input[type=radio] {
  position: relative;
  left: -25%;
}

.percent-wrapper {
  width: 20%;
  height: 1em;
  border: 0.5px solid black;
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
}

.percent-bar {
  width: 0%;
  position: absolute;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.percent-bar.neg {
  background-color: #AA0000;
  right: 0;
}

.percent-bar.pos {
  background-color: #0E8D45;
}

.labels span {
  text-align: center;
}

#footer {
  font-size: 0.7em;
  margin-top: 10em;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-family: "Georgia", serif !important;
  color: #003361 !important;
}