@font-face {
  font-family: 'open-sans';
  src: url('OpenSans-Regular.ttf');
}

body {
  font-family: "open-sans", sans-serif !important;
  color: #333 !important;
  line-height: 1.3em !important;
  font-size: 11pt !important;
}

.section {
  margin-bottom: 1em;
  display: none;
}

input {
  float: right;
}

.selected {
  font-weight: bold;
}

h3 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.properties, .critical, .noncritical {
  margin-bottom: 2em;
}

.section {
  line-height: 1.5em;
}

button {
  float: right;
  margin-bottom: 1em !important;
}

.result {
  margin-bottom: 1em;
  cursor: pointer;
}

.details {
  margin-top: 1em;
}

#header {
  height: 60px;
  /* vertical-align: top; */
}

#header .top-item {
  color: #EEE;
  background-color: #003361;
  float: left;
  height: 100%;
  width: 16%;
  text-align: center;
  line-height: 60px;
}

#header-percentages {
  height: 15px;
  vertical-align: top;
}

#header-percentages div {
  color: #888;
  float: left;
  height: 100%;
  width: 16%;
  margin-top: 0.5em;
  font-size: 0.9em;
  text-align: center;
}

#part-two-header, #part-two-header-percentage {
  width: 17% !important;
}

#part-three-header, #part-three-header-percentage {
  width: 22% !important;
}

#header .top-item.done {
  background-color: #0E8D45;
}

.top-item:before {
  content: "";
  display: none;
  width: 0;
  float: left;
  border-bottom: 30px solid transparent;
  border-left: 10px solid #0E8D45;
  border-top: 30px solid transparent;
}

.top-item.next-selected:before {
  border-left-color: #c4820f !important;
}

.top-item.next {
  padding-left: -10px;
}

.top-item.next:before {
  display: block;
}

.top-item.selected {
  background-color: #c4820f !important;
}

#leadership, #organizational {
  display: none
}

#employee {
  display: block;
}

.does-this-statement {
  float: right;
  font-weight: bold;
  margin-bottom: 1em;
}

#results-pane {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 340px;
  height: 100%;
  bottom: 0;
}

#header div {
  cursor: pointer;
}

.btn-primary {
  background-color: #0E8D45 !important;
  border: none !important;
}

strong {
  color: #003361;
}

.btn-secondary {
  cursor: default !important;
}

.btn-secondary:hover {
  background-color: #6c757d !important;
}

#results-pane ul {
  list-style: none;
  padding: 0;
}

#results-pane .title {
  font-weight: bold
}

#results-pane li {
  margin-bottom: 1em;
}

#results ul {
  list-style: none;
}

.labels {
  margin-bottom: 1em;
}

input[type=radio] {
  position: relative;
  float: none;
}

.percent-wrapper {
  width: 20%;
  height: 1em;
  border: 0.5px solid black;
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
}

.percent-bar {
  width: 0%;
  position: absolute;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.percent-bar.neg {
  background-color: #AA0000;
  right: 0;
}

.percent-bar.pos {
  background-color: #0E8D45;
}

.labels span {
  text-align: center;
}

#footer {
  font-size: 0.7em;
  margin-top: 10em;
  margin-bottom: 1em;
}

h1, h2, h3, h4 {
  font-family: "Georgia", serif !important;
  color: #003361 !important;
}

.answer span {
  width: 30%;
  text-align: center;
  float: left;
}